# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.venv

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
logs/
*.log

# Variables de entorno
.env
.env.local

#bot_state.json
bot_state.json
/bot_state.json
./bot_state.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Base de datos
*.db
*.sqlite3

# Tests
.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/

# Docker
*.pid
.dockerignore

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# PyCharm
.idea/

# Jenkinsfile
Jenkinsfile
.Jenkinsfile
/Jenkinsfile
.jenkins/